<header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid"> <a class="navbar-brand" href="https://csweb01.csueastbay.edu/~rc3325/group_project_2/home.html"><i class="bi bi-emoji-sunglasses"></i> Meza's Kicks</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"> <a class="nav-link" href="https://csweb01.csueastbay.edu/~rc3325/group_project_2/shop.html">Shop</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="https://csweb01.csueastbay.edu/~rc3325/group_project_2/account.html">Account</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="https://csweb01.csueastbay.edu/~rc3325/group_project_2/shoppingCart.html"><i class="bi bi-cart"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>