<%- include('layouts/head.ejs') %>
    <body class="bg-light">

        <%- include('layouts/header.ejs') %>
        <div class="container mb-3">
            <div class="row p-2">
                <div class="col p-2">
                    <div class="display-1">Account Successfully Created</div>
                </div>
                <hr class="bg-black border-2 border-top border-black" />
            </div>
            <p>Welcome, <%= name %>!</p>
            <p>Your account has been successfully created. You can now <a href="https://csweb01.csueastbay.edu/~rc3325/group_project_2/account.html">login</a>.</p>
        </div>
        <%- include('layouts/footer.ejs') %>
