@charset "utf-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.card {
	width:400px;
	height: 600px;
}

.hereo {
	font-size: 3em
}

.bi-cart {
	font-size: 1em
}

.listCart .quantity span{
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: #eee;
	border-radius: 50%;
	color: #555;
	cursor: pointer;
}
.listCart .quantity span:nth-child(2){
	background-color: transparent;
	color: #eee;
	cursor: auto;
}
.listCart .item:nth-child(even){
	background-color: #eee1;
}
.listCart .item img{
	width: 20%;
}
.listCart{
	overflow: auto;
}
.listCart::-webkit-scrollbar{
	width: 0;
}
